<!DOCTYPE html>
<html>
    <head><title>Source Policy</title></head>
    <body>
        <table>
        <tr>
            <td style="font-size:25px">Copy from Network:</td>
            <td><a href='/acl/'>{{network}}</a></td>
        </tr>
        </table>
        <br>
        <form action="/applycopy/">
        <label for="acl">Select Group Policy to Copy:</label>
        <select id="acl" name="acl">
{{listpolicies}}
        </select><br><br>
        <lable for="aclname">Type in new Group Policy Name or leave blank to use the same name:</lable>
        <input type="text" name="aclname">
        <input type="hidden" id="sourcenet" name="sourcenet" value="{{sourcenet}}">
        <input type="submit" value="Submit">
        </form><br>

    </body>
</html>