<!DOCTYPE html>
<html>
    <head><title>Policies</title></head>
    <body>
        <table><tr>
            <td style="font-size:25px">Organization:</td>
            <td><a href='/org/'>{{org}}</a></td>
        </tr>
        <tr>
            <td style="font-size:25px">Network:</td>
            <td><a href='/network/'>{{network}}</a></td>
        </tr>
        </table>
        <br>
        <form action="/ace/">
        <label for="acl">View or Edit an ACL in this network:</label>
        <select id="acl" name="acl">
{{listpolicies}}
        </select>
        <input type="submit" value="Submit">
        </form><br>
        <form action="/copyacl/">
            <lable for="sourcenet">Copy a Group Policy from this or another Network:</lable>
            <select id="sourcenet" name="sourcenet">
{{listnetworks}}
            </select>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>