<!DOCTYPE html>
<html>
    <head><title>Policy ACL</title></head>
    <body>
        <h1>Organization: {{org}}</h1>
        <a href='/org/'>Choose a different Organization</a>
        <h1>Network: {{network}}</h1>
        <a href='/network/'>Choose a different Network</a><br><br>
        <h1>ACL: {{acl}}</h1>
        <a href = '/acl/'>Choose a different policy to view/edit.</a><br><br>
        {{lastaclaction}}<br><br>
        <form>
        <table style="border: 1px solid black">
        <tr>
            <th>Select</th><th>Line</th><th>Comment</th><th>Action</th><th>Protocol</th><th>Port</th><th>Destination</th>
        </tr>
{{acltable}}
        <tr>
            <td><input type="radio" name="ace" value = "last"></td><td>Last</td><td>Implicit</td><td>Permit</td><td>IP</td><td>ANY</td><td>ANY</td>
        </tr>
        </table>
        <br>
        <button type="submit" name="aclaction" value= "0" formaction="/editacl/">Delete</button> Delete the selected line.<br><br>
        To edit or insert an entry, select a line above and fill out the data below:
        <table style="border: 1px solid black">
        <tr><th>Comment</th><th>Action</th><th>Protocol</th><th>Port</th><th>Destination</th></tr>
        <tr><td><input type="text" name="comment"></td>
        <td><select id="action" name="action">
            <option value = "allow">Allow</option>
            <option value = "deny">Deny</option>
            </select>
        </td>
        <td><select id="protocol" name="protocol">
            <option value = "any">ANY</option>
            <option value = "tcp">TCP</option>
            <option value = "udp">UDP</option>
            <option value = "icmp">ICMP</option>
            </select>
        </td>
        <td><input type="text" name="port"></td>
        <td><input type="text" name="dest"></td>
        </tr>
        </table>
        <button type="submit" name="aclaction" value= "1" formaction="/editacl/">Replace Line</button>
        <button type="submit" name="aclaction" value= "2" formaction="/editacl/">Insert Above</button>
        <button type="submit" name="aclaction" value= "3" formaction="/editacl/">Insert Below</button>
        </form>
        <br>
    </body>
</html>